{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container text-center mt-3" style="width: 60%; font-size: 13px;">
    <div class="card p-3 border-dark text-center" style=" font-size: 16px;">
        Frontend:FR-22 &nbsp; | &nbsp; Backend:BE-14 &nbsp; | &nbsp; Backend:FS-40
    
    </div>
    {% for message in messages %}
    {% if message.tags == "success" %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert" >{{message}}
            <a href='{% url 'index' %}' type="button" class="btn btn-close" data-bs-dismiss="alert" arial-label="Close"></a>
        </div>
    {% endif %}
{% endfor %}
    <form method="post" enctype="multipart/form-data" autocomplete="off" class="card p-2 mt-3" novalidate >
        {% csrf_token %}
        {% comment %} {{form|crispy}} {% endcomment %}

        <div class="row">
            <div class="col-4">{{form.firstname|as_crispy_field}}</div>
            <div class="col-4">{{form.lastname|as_crispy_field}} </div>
            <div class="col-4">{{form.job|as_crispy_field}}</div>
        </div>
        <div class="row">
            <div class="col-4">{{form.email|as_crispy_field}}</div>
            <div class="col-4">{{form.age|as_crispy_field}} </div>
            <div class="col-4">{{form.phone|as_crispy_field}} </div>
        </div>
        <hr style="border: 1px solid black;"></hr>

        <div class="row">
            <div class="col-4">{{form.personnality|as_crispy_field}}</div>
            <div class="col-4">{{form.salaire|as_crispy_field}} </div>
            <div class="col-2">{{form.genre|as_crispy_field}} </div>
            <div class="col-2">{{form.fumeur|as_crispy_field}} </div>
        </div>
        {{form.experience|as_crispy_field}}
        <hr style="border: 1px solid black; margin-bottom: 5px;"></hr>
        {{form.message|as_crispy_field}}
        {{form.fichier|as_crispy_field}}

    <button type='submit' class='btn btn-primary' >Ajouter</button>
    </form>


</div>
{% endblock %}